<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wypozyczlania rowerow</title>
</head>
<body>
    <h1>Wypozyczlnia rowerow</h1>
    <form>
        <label for="login-input">Login:</label> <br>
        <input type="text" id="login-input" name="login-input"><br>
        <label for="password-input">Haslo:</label> <br>
        <input type="password" id="password-input" name="password-input"><br>
        <input type="submit" value="Zaloguj"><br>
        Nie masz konta? <a href="register.php">Zarejestruj sie</a>
    </form>
</body>
</html>